{% load static %}
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
		<title>Contact Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

</head>
<body class="subpage">
            <header id="header">
				<div class="inner">
					<a href="/" class="logo">IIT JODHPUR CONFESSION</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/contactus/">contact us</a>
						<a href="/aboutus/">about us</a>
						{% if user.is_authenticated %}
							Hello, {{user.username}}
							<a href="/postpage/">postpage</a>
							<a href="/creatpost/">Creat Post</a>
							<a href="/profilepage/">profile</a>
							<a href="/accounts/logout">Logout</a>
						{% else %}	
							<a href="/accounts/register/">Register</a>
							<a href="/accounts/login/">Login</a>
						{% endif %}	
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

<div class="container emp-profile">
    <br>
            <form method="post">
                <div class="row">

                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h3>
                                        {{user.username}}
                                    </h3>

                                    <br>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {% csrf_token %}
                        <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <br>
                                <div class="row">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Institute</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>IIT Jodhpur</p>
                                            </div>
                                        </div>
                                       <div class="row">
                                            {% comment %} <div class="col-md-6">
                                                <label>No. of Confessions</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{% noofconfession %}</p>
                                            </div> {% endcomment %}
                                        </div>
                            {% for i in confession %}
                        		<article style="border:2px solid green">

        							<img src="/media/{{i.image}}" height="130" width="130" >

							        <header>
								        <h5>DATE:{{i.currentdate}}</h5>
							        </header>
							        <p>{{i.desc}}</p>
						        	{% comment %} <footer>
								        <a href="#" class="button">Learn More</a>
							        </footer> {% endcomment %}
						        </article>
                            {% endfor %}

                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
</body>
</html>
