{% load static %}
<html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<head>
		<title>Contact Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />

</head>
<body class="subpage">
    <!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">IIT JODHPUR CONFESSION</a>
					<nav id="nav">
						<a href="/">Home</a>
						<a href="/contactus/">contact us</a>
						<a href="/aboutus/">about us</a>
						{% if user.is_authenticated %}
							Hello, {{user.username}}
							<a href="/postpage/">postpage</a>
							<a href="/creatpost/">Creat Post</a>
							<a href="/profilepage/">profile</a>
							<a href="/accounts/logout">Logout</a>
						{% else %}
							<a href="/accounts/register">Register</a>
							<a href="/accounts/login">Login</a>
						{% endif %}
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>
        <div class="container emp-profile">
            <br>
            
                <div class="row">

                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h3>
                                        {{user.username}}
                                    </h3>

                                    <br>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <br>
                                <div class="row">

                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.username}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Institute</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>IITJ</p>
                                            </div>
                                        </div>


                            </div>

                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        <!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="outer" style="border:2px solid green">
					<div class="flex flex-2" sta>
                    {% for i in confession %}
                		<article style="border:2px solid green" >
							<br>

							<img src="/media/{{i.image}}" height="400" width="370">
							<br>
							<a href="/postpage/wow/{{i.pk}}">
                            <label for="wows">&#x1F601; {{i.noofwows}}</label><br>
                            </a>
							<a href="/postpage/haha/{{i.pk}}">
                            <label for="haha">&#128514; {{i.noofhaha}}</label><br>
                            </a>
							<a href="/postpage/angrey/{{i.pk}}">
                            <label for="angrey">&#128545; {{i.noofangrey}}</label><br>
							</a>
                            <header>
								<h5>DATE:{{i.currentdate}}</h5>
							</header>
							<p>{{i.desc}}</p>
							{% comment %}
							<footer>
								<a href="#" class="button">Learn More</a>
							</footer>
							{% endcomment %}

						</article>

                    {% endfor %}

					</div>
				</div>
			</section>
</body>
</html>